@use "../../consts" as *;

.search-and-display {
  @include normal-font;
  height: $height-content;
  margin-left: 1rem;
  padding: 1rem 1rem 1rem 0;
  border-right: 1px solid $border-color;
  @include default-button;
  @include scrollable-box;

  .no-results-yet {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    @media (max-width: 525px) {
      font-size: 0.8rem;
    }
  }

  .search-group {
    position: sticky;
    top: -1rem;
    background-color: $background-color;
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 1px solid $border-color;

    form {
      display: flex;
      width: 100%;
      align-items: center;
      background-color: $background-color;

      input {
        width: 100%;
        border-radius: 5px;
        height: 2rem;
        padding-left: 1rem;
        margin-right: 0.5rem;
        @include normal-font;
        background-color: white;
        color: black;
        opacity: 1;
      }

      .radios-group {
        display: flex;
        background-color: $background-color;

        .radios {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          background-color: $background-color;
          height: 1rem;
          width: 11rem;
          top: -1rem;
          z-index: 2;

          input[type="radio"] {
            height: 1rem;
          }
        }
      }

      @media (max-width: 520px) {
        .radios-group {
          .radios {
            width: 7rem;

            label {
              font-size: 0.7rem;
            }
          }
        }
      }

      @media (max-width: 370px) {
        input {
          padding-left: 2px;
        }
      }

      @include default-button;
    }
  }

  @include post-grid;
}
